body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3d3d3d;
    color: white;
}

#TopBar {
    position: fixed;
    background-color: white;
    color: #3d3d3d;
    right: 0;
}